<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abc.foaled">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Allows writes and reads from shared public photo storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_horse_launcher"
        android:label="FoalEd"
        android:supportsRtl="true"
        android:theme="@style/FoalEd">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.abc.foaled.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".Notifications.NotificationPublisher" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:launchMode="singleTask" />
            </intent-filter>
        </activity>

        <!-- **  screens  ** -->
        <activity android:name=".Activity.HorseDetailActivity"
            android:label="Horse Detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.abc.foaled.MainActivity" />
        </activity>

        <activity
            android:name=".Activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abc.foaled.MainActivity" />
        </activity>

        <activity
            android:name=".Activity.NotificationSettingsActivity"
            android:label="@string/title_activity_notification_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abc.foaled.MainActivity" />
        </activity>

        <activity
            android:name=".Activity.AddNewHorseActivity"
            android:label="@string/title_activity_add_new_horse"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Activity.faqActivity"
            android:label="FAQ"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abc.foaled.MainActivity" />
        </activity>

        <activity
            android:name=".Activity.NoteActivity"
            android:label="Notes"
            android:parentActivityName=".Activity.HorseDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Activity.FeedbackActivity"
            android:label="Feedback"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abc.foaled.MainActivity" />
        </activity>

        <activity android:name=".Activity.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.abc.foaled.MainActivity"/>
        </activity>

        <activity android:name=".Activity.AboutActivity"
            android:label="About Us"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abc.foaled.MainActivity" />
        </activity>
    </application>

</manifest>