<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.abc.foaled">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <!-- Allows writes and reads from shared public photo storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FoalEd"
        android:supportsRtl="true"
        android:theme="@style/FoalEd">
        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.abc.foaled.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <receiver android:name=".notifications.NotificationPublisher" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:launchMode="singleTask"/>
            </intent-filter>
        </activity>

        <!-- **  screens  ** -->
        <activity
            android:name=".activities.HorseDetailActivity"
            android:configChanges="orientation|keyboard"
            android:label="Horse Detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abc.foaled.MainActivity"/>
        </activity>

        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abc.foaled.MainActivity"/>
        </activity>

        <activity
            android:name=".activities.NotificationSettingsActivity"
            android:label="@string/title_activity_notification_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abc.foaled.MainActivity"/>
        </activity>

        <activity
            android:name=".activities.AddNewHorseActivity"
            android:label="@string/title_activity_add_new_horse"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".activities.faqActivity"
            android:label="FAQ"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abc.foaled.MainActivity"/>
        </activity>

        <activity
            android:name=".activities.NoteActivity"
            android:label="Notes"
            android:parentActivityName=".activities.HorseDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.FeedbackActivity"
            android:label="Feedback"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abc.foaled.MainActivity"/>
        </activity>

        <activity
            android:name=".activities.AboutActivity"
            android:label="About Us"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abc.foaled.MainActivity"/>
        </activity>
    </application>

</manifest>